*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    max-width: 100vw;
}


html, body{
  height:100%; 
  margin: 0px;
  padding: 0px;
}
body{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #e8880b80;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #E8880B;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #fff;  /* creates padding around scroll thumb */
}

.conteudo{
  flex: 1 0 auto;
}
header{
    /* background-color: #293241; */
  position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: fixed;
    top: 0;
   
  z-index:4
}

li{
    list-style: none;
}
a{
    color:#fff;
    text-decoration: none;
}

.menu-fixo{
  background-color: #0000006e;
  animation: fadeIn 10s ease-in-out;
  animation: fadeIn 10s ease-in;
  transition: 0.3s;
}
.navbar{
     text-align: center;
      min-height: 13vh;
    display: flex;
    align-items: center;
    
    
    justify-content: space-between;
    padding: 0 34px; 
  z-index: 3;
}

.navbar img {
    width: 12%;
    margin: 0 0 1px 0;
}

.nav-menu{
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 60px;
    top: 13vh;
    justify-content: center;  
}
.nav-link{
    transition: 0.5s ease;
}
.nav-link:hover{
    color: #E8880B;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}


/* parallax */
.parallax {
  /* The image used */
  
  background-color: transparent;
  /* background-image: linear-gradient(100deg, #000000 4%, rgba(242, 41, 91, 0) 100%), url("https://cdn.pixabay.com/photo/2021/09/05/06/25/floor-plan-6598957_960_720.jpg"); */
  background-image: linear-gradient(100deg, #000000 4%, rgba(242, 41, 91, 0) 100%), url("https://images.pexels.com/photos/4792479/pexels-photo-4792479.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      opacity: 0.84;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    

  /* Set a specific height */
  min-height: 85vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
    
/*  border-width: 4em 0 4em 8em; */
 


}

.textoParallax{
   position: absolute;
  /* margin:100px; */
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
    width: 100%;
  text-align: center;
 color: #FFF;
/*     text-shadow: 2px 2px 10px #000; */
/*   -webkit-filter: brightness(10%) ; */
  
  font-size: 1.5rem
    
    
}
.textoParallax h2{
  color: #E8880B;
  
} 

.problemasAlvenaria{
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  margin: 4% 5% 2% 5%;
    padding: 0.2% 0.2% 0.2% 0%;
/*     height: 92vh; */
  border-radius: 28px 28px 28px 28px;
  box-shadow: 0 0 25px #3d4149;
}


.falandoSistema {
  margin: 4% 5% 2% 5%;
    padding: 0.2% 0.2% 0.2% 0%;
    /* display: block; */
}



.falandoSistema h2{
    margin: 0 0 4vh 0;
    color: #E8880B;
}

.falandoSistema p {
  font-size: 1.3rem;
  line-height: 2rem;
}

.falandoSistema .blocos div{
  /* display: flex; */
  display: inline-block;
}

.falandoSistema .blocos div img{
  /* display: flex; */
  width: 99%;
}
.tituloProblemas{
    font-size: 1rem;

  text-align: center;
  width: 43.082%;
  color: #fff;
  margin: 0px 0px 0px 0px;
 padding: 25% 5% 13% 4%;
  border-radius: 0px 28px 28px 0px;

  background-color: transparent;
  /* background-image: linear-gradient(100deg, #000000 4%, rgba(242, 41, 91, 0) 100%), url("https://cdn.pixabay.com/photo/2021/09/05/06/25/floor-plan-6598957_960_720.jpg"); */
  background-image: linear-gradient(100deg, #000000 4%, rgba(242, 41, 91, 0) 100%), url("https://cdn.pixabay.com/photo/2020/02/10/07/30/wheelbarrow-4835559_960_720.jpg");
      opacity: 0.84;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    

  /* Set a specific height */
  min-height: 85vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}



.listaProblemas{
  width: 56.875%;
  padding: 0 5%;
  
}

.listaProblemas h3{
  margin: 8% 0 0 0;
}


.listaProblemas p{
   line-height: 2
}


.solucaoAlvenaria{
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  margin: 4% 5% 2% 5%;
    padding: 0.2% 0.2% 0.2% 0%;
/*     height: 92vh; */
  border-radius: 28px 28px 28px 28px;
  box-shadow: 0 0 25px #3d4149;
  
}

.tituloSolucao{
    font-size: 1rem;

  text-align: center;
  width: 43.082%;
  color: #fff;
  margin: 0px 0px 0px 0px;
 padding: 25% 5% 13% 4%;
  border-radius: 0px 28px 28px 0px;

  background-color: transparent;
  /* background-image: linear-gradient(100deg, #000000 4%, rgba(242, 41, 91, 0) 100%), url("https://cdn.pixabay.com/photo/2021/09/05/06/25/floor-plan-6598957_960_720.jpg"); */
  background-image: linear-gradient(100deg, #000000 4%, rgba(242, 41, 91, 0) 100%), url("../img/bloco.jpg");
      opacity: 0.84;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    

  /* Set a specific height */
  min-height: 85vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}



.listaSolucao{
  width: 56.875%;
  padding: 0 5%;
  
}

.listaSolucao h3{
  margin: 8% 0 0 0;
}


.listaSolucao p{
   line-height: 2
}

footer{
 
  flex-shrink: 0;

}

.rodape{
  background-color: #e8880b;
  text-align: center;
  min-height: 13vh;
  width: 100%;
  padding: 0% 34px 4px 34px;
box-shadow: 0 0 25px #e8880b;
}

.rodape img {
  width: 8%;
  margin: 0 0 1px 0;
}

.rodape ul{
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 60px;
  padding: 2% 0;
  top: 13vh;
  justify-content: center;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.rodape ul li a{
  transition: 0.5s ease;
}
.rodape ul li a:hover{
  color: #E8880B;
}

.rodape p {
  color:#FFF
}

/* Responsividade */


@media (max-width:768px){
   .hamburguer{
       display: block;
   }
   .hamburguer.active .bar:nth-child(2){
       opacity: 0;
   }
   .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar{
        min-height: 13vh;
        /* filter: blur(10px); */
        
      }
      
    .nav-menu{
        position: fixed;
        left: -100%;
        /* top: 70px; */
/*         gap: 1; */
        border-radius: 0 0 20px 20px;
        /* background-color: #293241; */
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        height: 92vh;      
        z-index: 3;
        
        /* filter: blur(10px); */
    }

    .nav-menu a{
      /* color: #e8880b; */
    }
  
    .nav-item{
        margin: 16px 0;
      
    }
    .nav-menu.active{
      position: fixed;
        left: 0;
      height: 92vh;
    /* align-items: center; */
    justify-content: center;
      z-index: 3;
      background-color: rgb(34 9 9 / 21%);
      backdrop-filter: blur(10px);
    }
  
 .navbar img{
    width: 30%;
 }
  
/*   Parallax */
  .textoParallax{
   
  top: 35%;
  
}
  .problemasAlvenaria{
  display: flex;
  flex-direction: column;
/*   width: 90vw; */
  padding: 0.6% 0% 0.2% 0%;

}
  .tituloProblemas{
  border-radius: 28px 28px 0px 0px;
    width: 100%;
    min-height: 25vh;
  }
  .listaProblemas {
    width: 100%;
    
  }
  .listaProblemas p{
    margin: 0 0 6px 2px 
    
  }
  .solucaoAlvenaria{
  display: flex;
  flex-direction: column;
/*   width: 90vw; */
  padding: 0.6% 0% 0.2% 0%;

}
  .tituloSolucao{
  border-radius: 28px 28px 0px 0px;
    width: 100%;
    min-height: 25vh;
  }
  .listaSolucao {
    width: 100%;
    
  }
  .listaSolucao p{
    margin: 0 0 6px 2px 
    
  }

  .rodape ul {
    padding: 2% 0 9% 0;

  }

  .rodape{
    padding: 2% 34px 4px 34px;
  }
  .rodape img {
    width: 32%;
  }
}