*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
  background-color: #293241;
 
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #29324131;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #fff;  /* creates padding around scroll thumb */
}
header{
    background-color: #293241;
  position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
   
  z-index:4
}
li{
    list-style: none;
}
a{
    color:#fff;
    text-decoration: none;
}
.navbar{
     text-align: center;
      min-height: 13vh;
    display: flex;
    align-items: center;
 
    justify-content: space-between;
    padding: 0 34px; 
  
  z-index: 3;
}

.navbar img {
    width: 12%;
    margin: 0 0 1px 0;
}

.nav-menu{
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 60px;
    top: 13vh;
    justify-content: center;  
}
.nav-link{
    transition: 0.5s ease;
}
.nav-link:hover{
    color: #E8880B;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}


/* parallax */
.parallax {
  /* The image used */
  
  background-color: transparent;
  background-image: linear-gradient(100deg, #000000 4%, rgba(242, 41, 91, 0) 100%), url("https://cdn.pixabay.com/photo/2021/09/05/06/25/floor-plan-6598957_960_720.jpg");
      opacity: 0.84;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    

  /* Set a specific height */
  min-height: 85vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
    
/*  border-width: 4em 0 4em 8em; */
 


}

.textoParallax{
   position: absolute;
  /* margin:100px; */
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
    width: 100%;
  text-align: center;
 color: #FFF;
/*     text-shadow: 2px 2px 10px #000; */
/*   -webkit-filter: brightness(10%) ; */
  
  font-size: 1.5rem
    
    
}
.textoParallax h2{
  color: #E8880B;
  
} 

.problemasAlvenaria{
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  margin: 4% 5% 2% 5%;
    padding: 0.2% 0.2% 0.2% 0%;
/*     height: 92vh; */
  border-radius: 28px 28px 28px 28px;
  
}

.tituloProblemas{
    font-size: 1rem;

  text-align: center;
  width: 43.082%;
  color: #fff;
  margin: 0px 0px 0px 0px;
 padding: 25% 5% 13% 4%;
  border-radius: 0px 28px 28px 0px;

  background-color: transparent;
  background-image: linear-gradient(100deg, #000000 4%, rgba(242, 41, 91, 0) 100%), url("https://cdn.pixabay.com/photo/2021/09/05/06/25/floor-plan-6598957_960_720.jpg");
      opacity: 0.84;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    

  /* Set a specific height */
  min-height: 85vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}



.listaProblemas{
  width: 56.875%;
  padding: 0 5%;
  
}

.listaProblemas h3{
  margin: 8% 0 0 0;
}


.listaProblemas p{
   line-height: 2
}


.rodape{
  text-align: center;
  min-height: 13vh;
  padding: 0% 34px 4px 34px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.rodape img {
  width: 8%;
  margin: 0 0 1px 0;
}

.rodape ul{
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 60px;
  padding: 2% 0;
  top: 13vh;
  justify-content: center;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.rodape ul li a{
  transition: 0.5s ease;
}
.rodape ul li a:hover{
  color: #E8880B;
}

/* Responsividade */


@media (max-width:768px){
   .hamburguer{
       display: block;
   }
   .hamburguer.active .bar:nth-child(2){
       opacity: 0;
   }
   .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar{
        min-height: 13vh;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        /* top: 70px; */
/*         gap: 1; */
        border-radius: 0 0 20px 20px;
        background-color: #293241;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
      height: 92vh;      
      z-index: 3;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
      position: fixed;
        left: 0;
      height: 92vh;
    /* align-items: center; */
    justify-content: center;
      z-index: 3;
    }
  
 .navbar img{
    width: 30%;
 }
  
/*   Parallax */
  .textoParallax{
   
  top: 35%;
  
}
  .problemasAlvenaria{
  display: flex;
  flex-direction: column;
/*   width: 90vw; */
  padding: 0.6% 0% 0.2% 0%;

}
  .tituloProblemas{
  border-radius: 28px 28px 0px 0px;
    width: 100%;
    min-height: 25vh;
  }
  .listaProblemas {
    width: 100%;
    
  }
  .listaProblemas p{
    margin: 0 0 6px 2px 
    
  }

  .rodape ul {
    padding: 2% 0 9% 0;

  }

  .rodape{
    padding: 2% 34px 4px 34px;
  }
  .rodape img {
    width: 32%;
  }
}